.search-location {
  background: url("../../../assets/1.png");
  background-size: cover;
  height: 700px;

  .search-container {
    max-width: 620px;
    margin: auto;
    padding-top: 180px;

    .header-1 {
      font-weight: 700;
      font-style: normal;
      font-size: 52px;
      color: #ffffff;
      margin-bottom: 10px;
    }

    .header-2 {
      font-weight: 700;
      font-size: 32px;
      color: #ffffff;
      margin-bottom: 35px;
    }

    .header-3 {
      font-weight: 400;
      font-style: normal;
      font-size: 24px;
      color: #ffffff;
      margin-bottom: 10px;
    }

    #location {
      height: 50px;
      width: 400px;
      font-size: 22px;
      cursor: pointer;
    }

    .search-btn {
      height: 50px;
      margin-left: 8px;
      vertical-align: inherit;
      font-size: 22px;

      &:hover {
        background-color: rgb(224, 224, 224);
      }
    }
  }
}

.about-us {
  background: url("../../../assets/2.png");
  background-size: contain;
  min-height: 500px;
  background-repeat: no-repeat;
  font-style: normal;
  color: #000000;
  border-bottom: 1px solid rgb(136, 136, 136);

  .about-us-container {
    padding: 2% 4% 0 35%;

    .header-1 {
      font-weight: 700;
      font-size: 52px;
      text-align: center;
      margin-bottom: 30px;
    }

    .header-2 {
      font-weight: 400;
      font-size: 24px;
      margin-bottom: 26px;
    }
  }
}

.how-it-works {
  min-height: 600px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(136, 136, 136);

  .left-picture {
    background: url("../../../assets/3.png");
    background-repeat: no-repeat;
    height: 600px;
    width: 250px;
    background-position-x: left;
    background-position-y: 300px;
  }

  .right-picture {
    background: url("../../../assets/4.png");
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
  }

  .how-it-works-container {
    padding-top: 20px;

    .header-1 {
      font-weight: 700;
      font-size: 52px;
      text-align: center;
      margin-bottom: 60px;
    }

    .steps {
      display: flex;
      justify-content: space-between;
      min-width: 1000px;

      .step {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 320px;
        font-weight: 700;

        .circle {
          background: url("../../../assets/5.png");
          background-repeat: no-repeat;
          background-position: center;
          min-height: 50px;
          font-size: 32px;
          margin-bottom: 10px;
        }

        .header {
          font-size: 32px;
          margin-bottom: 30px;
        }

        .description {
          font-size: 20px;
          width: 300px;
        }
      }
    }
  }
}

.delivery-terms {
  background: url("../../../assets/6.png");
  background-size: contain;
  background-position-x: right;
  min-height: 500px;
  background-repeat: no-repeat;
  font-style: normal;
  color: #000000;
  border-bottom: 1px solid rgb(136, 136, 136);

  .delivery-terms-container {
    padding: 2% 30% 0 4%;

    .header-1 {
      font-weight: 700;
      font-size: 52px;
      text-align: center;
      margin-bottom: 50px;
    }

    .header-2 {
      font-weight: 400;
      font-size: 24px;
      margin-bottom: 26px;
    }
  }
}

.work-with-us {
  min-height: 600px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(136, 136, 136);

  .left-picture {
    background: url("../../../assets/7.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    width: 340px;
  }

  .right-picture {
    background: url("../../../assets/8.png");
    background-repeat: no-repeat;
    width: 340px;
    background-size: cover;
  }

  .work-with-us-container {
    padding-top: 20px;
    min-width: 800px;

    .header-1 {
      font-weight: 700;
      font-size: 52px;
      text-align: center;
      margin-bottom: 30px;
    }

    .steps {
      display: flex;
      justify-content: space-between;
      min-width: 700px;

      .step {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 350px;

        .circle {
          background: url("../../../assets/9.png");
          background-repeat: no-repeat;
          background-position: center;
          min-height: 50px;
          font-size: 26px;
          font-weight: 700;
          margin-bottom: 10px;
        }

        .description {
          font-size: 20px;
          min-height: 380px;
        }

        .step-btn {
          margin-left: 5px;
          vertical-align: inherit;
          border: 1px solid rgb(167, 167, 167);
          margin-top: 20px;
          margin-bottom: 60px;
          font-size: 20px;

          &:hover {
            background-color: rgb(224, 224, 224);
          }
        }
      }
    }
  }
}
