<div class="new-password">
  <app-leaves-wrapper>
    <div class="row">
      <div class="col"></div>
      <div class="col-7">
        <form
          novalidate
          (ngSubmit)="onSubmit($event)"
          [formGroup]="newPasswordForm"
          class="app-form"
        >
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="passwordInput">Пароль</label>
                <input
                  type="password"
                  class="form-control"
                  id="passwordInput"
                  required
                  formControlName="password"
                  autocomplete="off"
                  placeholder="Пароль"
                />
                <div
                  *ngIf="info"
                  style="display: block"
                  class="invalid-feedback"
                >
                  {{ info }}
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn-red btn btn-primary">
            Изменить пароль
          </button>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </app-leaves-wrapper>
</div>
