.terms-of-service {
  .header {
    font-weight: 700;
    font-style: normal;
    font-size: 52px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
  }

  .text {
    margin-bottom: 50px;
    font-size: 18px;
  }
}
