<div class="terms-of-service">
  <app-leaves-wrapper>
    <div class="header">Пользовательское соглашение</div>
    <div class="text">
      1. ОБЩИЕ ПОЛОЖЕНИЯ
      <br /><br />
      1.1. Настоящее Пользовательское соглашение представляет собой предложение
      Администратора Участникам использовать Платформу на условиях, определенных
      Пользовательским соглашением и иными Регулирующими документами для целей
      установления контактов и совершения сделок по Заказу Продукции и/или
      Товаров, а также их Доставки.
      <br /><br />
      1.2. Участник, приступивший к использованию Платформы/её отдельных
      функций, считается принявшим условия Пользовательского соглашения, в
      полном объеме, без всяких оговорок и исключений. В случае несогласия с
      какими-либо из положений Пользовательского соглашения, Участник не вправе
      использовать Платформу. Кроме того, Участник, приступивший к использованию
      Платформы/её отдельных функций, заверяет и гарантирует, что: (а) он
      ознакомлен и согласен со всеми условиями Пользовательского соглашения и
      иных Регулирующих документов; (б) он имеет все права и полномочия на
      заключение настоящего Пользовательского соглашения, совершение сделок,
      связанных с использованием Платформы, и выполнение взятых на себя
      обязательств по ним; (в) на момент заключения настоящего Пользовательского
      соглашения он не ограничен в дееспособности (правоспособности, если
      является юридическим лицом), не находится под влиянием заблуждения,
      насилия или угрозы со стороны Администратора, Участников и иных третьих
      лиц, не действует под влиянием стечения тяжелых обстоятельств, полностью
      понимает значение своих действий и юридические последствия заключения
      настоящего Пользовательского соглашения; (г) обязательства по настоящему
      Пользовательскому соглашению являются законными, действительными и
      обязательными к выполнению со стороны Участника.
      <br /><br />
      1.3. Администратор вправе в любое время в одностороннем порядке изменить
      положения Регулирующих документов путем размещения таких изменений в сети
      Интернет. Риск неознакомления с изменениями Регулирующих документов несет
      Участник, при этом продолжение пользования Платформой после изменения
      Регулирующих документов считается согласием с ними в измененной редакции.
      Администратор вправе в любое время уступить все свои права и обязанности
      по настоящему Пользовательскому соглашению третьему лицу, которое в этом
      случае становится на место Администратора. Участники настоящим дают
      согласие на такую уступку прав и обязанностей Администратора с учетом
      особенностей, предусмотренных отдельными соглашениями с Рестораном,
      Магазином, Курьерской службой.
      <br /><br />
      1.4. В случае если Администратором были внесены какие-либо изменения в
      Регулирующие документы, в порядке, предусмотренном пунктом 1.3.
      Пользовательского соглашения, с которыми Участник не согласен, он обязан
      прекратить использование Платформы. Администратор вправе отказать любому
      Участнику в предоставлении услуг Платформы без объяснения причин, если по
      мнению Администратора использование Платформы данным Участником нарушает
      права или интересы третьих лиц, законодательство Республики Беларусь,
      негативно влияет на восприятие Платформы, Участников или их сервисов
      третьими лицами, а также по иным причинам, которые Администратор посчитает
      уважительными, если иное не предусмотрено отдельными соглашениями с
      Рестораном, Магазином, Курьерской службой.
      <br /><br />
      1.5. По настоящему Пользовательскому соглашению Администратор осуществляет
      возмездное оказание Покупателю услуг по предоставлению функционала
      Платформы, позволяющего Покупателю осуществить установление контактов с
      Рестораном, Магазином, Курьерской службой и оформить Заказ непосредственно
      на Платформе. Также настоящее Пользовательское соглашение устанавливает
      правила взаимодействия Администратора и Участников по оформлению,
      осуществлению и доставке Заказа.
      <br /><br />
      1.6. Все существующие на данный момент функции Платформы, а также любое
      развитие их и/или добавление новых являются предметом Пользовательского
      соглашения. В зависимости от региона Покупателя, адреса Доставки, режима
      работы Ресторана, Магазина и Курьерской службы, информации о Продукции,
      Товарах, а также от иных обстоятельств все или некоторые функции Платформы
      могут быть недоступны или ограничены. Функции считаются недоступными
      (ограниченными) для Покупателя, если Покупатель не может ими
      воспользоваться в явном виде. Применение любых технических и программных
      методов обхода данных ограничений запрещено. Положения Пользовательского
      соглашения, регулирующие недоступные (ограниченные) для Покупателя функции
      Платформы, не применяются до тех пор, пока Покупателю такие функции не
      станут доступны в явном виде.
      <br /><br />
    </div>
  </app-leaves-wrapper>
</div>
