#app {
  min-height: 100vh;
  position: relative;
  font-family: "Segoe UI";
}

.root {
  min-height: 100vh;
}

.root.disabled:before {
  position: absolute;
  content: "";
  width: 100%;
  background: rgba($color: #000000, $alpha: 0.3);
  height: 100%;
  left: 0;
}
.main-spinner.spinner-border {
  position: absolute;
  margin-left: calc((100vw - 80px) / 2);
  margin-top: 250px;
  width: 4rem;
  height: 4rem;
}
