.success-header {
  padding: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.success-text {
  text-align: center;
  font-size: 18px;
  padding: 30px;
}

.success-footer {
  text-align: center;
  font-size: 18px;
}
