<div class="about-us-header">О нас</div>
<div class="about-us">
  <div class="about-us-container">
    Ежа.by — это сервис заказа еды из любимых кафе и ресторанов. В среднем мы
    доставляем еду за 31 минуту после оформления заказа (по данным с 1 по 7
    апреля 2022 года) и продолжаем улучшать этот показатель. Мы тщательно
    отбираем рестораны и стараемся обеспечить разнообразие блюд: на выбор
    доступны пиццерии, пекарни, рестораны грузинской и японской кухни,
    бургерные, стейкхаусы и другие. Ежа.by работает в таких городах Беларуси,
    как: Минск, Гродно, Гомель, Брест, Витебск, Могилев. Мы постоянно развиваем
    сервис и запускаем доставку в новых регионах. Чтобы перейти к списку
    заведений в вашем городе, перейдите на главную страницу и выберите город в
    начале страницы.
    <br /><br />
    Для того, чтобы совершить заказ, вам просто нужно выбрать интересующий вас
    ресторан или магазин и добавить понравившиеся блюда и товары в корзину.
    После оформления, заказ автоматически отправляется на кухню ресторана или
    комплектовщику магазина, минуя call-центр. Благодаря такой автоматизации
    процессов, буквально за полчаса свежий круассан, сочный бургер, ароматный
    вок или все необходимые продукты будут доставлены к вашему столу.
    <br /><br />
    Мы уделяем должное внимание качеству доставки и поэтому позаботились о том,
    чтобы сохранялась нужная температура блюда! У каждого курьера имеется
    специальная термосумка с дополнительным блоком для подогрева.
    <br /><br />
    Далее - дело за малым! Вам останется лишь принять заказ у курьера и, в
    предвкушении, открыть наш фирменный пакет и наслаждаться свежей, ароматной,
    только-только приготовленной любимой едой!
    <br /><br />
    Лучшие заведения уже с нами! Самые популярные объекты питания Минска,
    Бреста, Витебска, Гомеля, Гродно и Могилева уже доступны в нашем сервисе. Мы
    активно работаем над тем, чтобы каждый из вас мог открывать для себя новые
    блюда и разные кухни прямо у себя дома!
  </div>
</div>
